.ChessGame{
    align-content: center;
    max-width: 560px;
    left: 450px;
    border: 2px solid;
    margin: 0px;
    top:100px;
    display: flex;
    position: absolute;
}

.normal, .flipped {
    border-radius: "5px";
    box-shadow: "0 5px 15px rgba(0, 0, 0, 0.5)";
    border: 10px solid red !important;
}

/* When the player is white pieces */
.normal {
}

/* When the player is black pieces */
.flipped {
    transform: rotate(180deg);
}