.current-timer{
    text-align: center;
    font-family: monospace;
    font-size: 2em;
    display: inline-block;
    border: 1px solid;
    padding: 5px;
}

.timer-on {
    background: white;
}

.timer-blank {
    background: white;
}

.timer-paused {
    background: gold;
}

.timer-finished {
    background: crimson;
}