.messages-list {
    height:400px;
    width:250px;
    border: 2px solid black;
    padding: 5px 0 0 5px;
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
    top:500px;
    left:100px;
}


.new-msg{
    position: relative;
    display:table;
    top:500px;
    left:100px;
}

.msg{
    height: 40px;
    width: 140px;
    resize: none;
}

#Send{
    height: 40px;
    width: 60px;
    position: relative;
    bottom:16px;
}

#container{
    bottom: 500px;
    width: 100%;
    display: table;
    position: relative;
    margin:auto;
}

.chatbox-message-mine {
    text-align: left;
    margin-left: 10px;
}

.chatbox-message-opponent {
    text-align: right;
    margin-right: 10px;
}

.message-content-end {
    margin-bottom: 10px;
}