  .messages-list {
      height:400px;
      width:200px;
      border: 2px solid black;
      padding: 5px 0 0 5px;
      overflow: hidden;
      overflow-y: scroll;
      position: relative;
      left: 200px;
  }
  .users {
      padding: 5px 0 0 5px;
      border: 2px solid black;
      height: 100px;
      width: 100px;
      
  }

  .new-msg{
      position: relative;
      display:table;
      left: 200px;
  }

  .msg{
      height: 40px;
      width: 140px;
      resize: none;
  }

  button{
      height: 40px;
      width: 60px;
      position:absolute;
  }


