#game-info-box{
    height:60px;
    width:100%;
    max-width: 300px;
    min-width: 100px;
    display: table;
    position: relative;
    border: 2px solid black;
    line-height: 60px;
    float: right;
    margin-right: 20px;
}

h4{
    margin: 0px;
}
