.Menu {
    margin: 20px 0px 10px 0px;
    overflow: hidden;
    display: table;
    float: left;
}

.Menu form{
    display: inline-block;
    size: 30px;
    margin-left: 100px;
}

.Menu button{ 
    position: absolute;
    font-size: 20px;
}

.Menu input{
    padding: 5px;
    font-size: 20px;
}

.Menu li{
    list-style: none;
    display: block;
    float: left;
    margin: 10px 5px 0px 5px;
    padding: 10px 12px;
}

.Menu li:hover {
    background-color: aliceblue;
}

.Menu h1{
    display: flex;
    float: left;
}


.links{
    font-size:25px;
    display: inline-flex;
    float: left;
}






