.Menu {
    overflow: hidden;
    display: flex;
    float: left;
    text-decoration: none;
}

.Menu form{
    left: 80px;
}

.Menu .search{ 
    position: absolute;
    font-size: inherit;
    width: 90px;
    height:max-content;
   
}

.Menu input{
    font-size:inherit;

}

.Menu li{
    list-style: none;
    display: block;
    float: left;
    margin: 10px 5px 0px 5px;
    padding: 10px 12px;
}

.Menu li:hover {
    background-color: aliceblue;
}

.Menu h1{
    display: flex;
    float: left;
}


.links{
    font-size:inherit;
    display: inline-flex;
    float: left;
}