.JoinGameBox{
   height: 600px;
   width: 550px;
   float: right;
   margin-left: 100px;
   border: 2px solid black;
   border-radius: 50px;
}

.table{
    height: 525px;
    width: 525px;
    margin-left: 10px;
    margin-top:2px;
}

.filter{
    margin-right:5px;
    font-size: 20px;
}

.ComboBox{
    margin-right: 10px;
}