
.table{
    height: 480px !important;
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
}

#join-table-div {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#join-game-button {
    margin-top: 15px;
    margin-bottom: 10px;
    height: fit-content;
}