.PostPreview {
    margin-right: 300px;
    padding: 50px;
    float: left;
    display: table;
    font-size: inherit;
}

.PostPreview .crop{
    height:300px;
    width: 300px;
    overflow: hidden;
    margin-right: 30px;
    float: left;
    position: relative;
}

.PostPreview .link{
    display: inline-block;
    color: black;
    position: relative;
    text-decoration: none;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 700px;
    margin-right: 50px;
}

.PostPreview p{
    display: inline;
    white-space: pre;
    color: black;
    margin-right: 50px;
}

.articlelink{
    text-decoration: none;
}


