.half {
    display: inline-block;
    padding: 0;
    width: 50%;
    margin: 2.5%;
}

.horizontal {
    margin: 0;
    padding: 0;
    display: inline-flex;
}

.box {
    border: 3px solid gray;
    border-radius: 15px;
    background-repeat: repeat-y;
    padding-top: 20px;
    height: 555px;
}

.Button{
    display: table;
    position: relative;
    align-items: center;
    margin-left:170px;
    width: 200px;
    border-radius: 20px;
    background-color: #4CAF50;
    border:none;
    color: white;
    font-size: 20px;
}

.Line{
    margin-bottom: 30px;
}